@{
  Layout = "_Layout";
}
<div class="jumbotron">
  <h1>Welcome to the Animal Shelter!</h1>
</div>
<img class="img-fluid" src="https://blazepress.com/.image/t_share/MTI4OTgzNDA0NjQ4NjM0ODQ2/14653-smiling-pug-1920x1080-animal-wallpaper.jpg">
<div class="link">
  <p>@Html.ActionLink("See all animals", "Index", "Animals")</p>
</div>
